body {
    background-color: #0D0D0D;
}

h1 {
    color: #F2E74B;
}

#main-container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.showCard {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    background-color: #F2E74B;
}

#results {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#results-list {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    gap: 30px;
}

.showName {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    color: #0D0D0D;
}

#searchInput {
    border-radius: 16px;
    border: 1px solid #8C8A87;
    padding: 2px 10px;
    font-size: 1em;
}

button {
    background-color: #8C8A87;
    color: white;
    border: none;
    border-radius: 32px;
    font-size: 1em;
    padding: 5px 10px;
}

@media (max-width: 480px) {
    #results-list {
        grid-template-columns: 300px;
    }
}

@media (min-width: 481px) {
    #results-list {
        grid-template-columns: 300px 300px;
    }
}

@media (min-width: 769px) {
    #results-list {
        grid-template-columns: 300px 300px 300px;
    }
}

@media (min-width: 1200px) {
    #results-list {
        grid-template-columns: 300px 300px 300px 300px;
    }
}

@media (min-width: 1201px) {
    #results-list {
        grid-template-columns: 300px 300px 300px 300px 300px;
    }
}